@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


body {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
}

/* defaults */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* INDEX PAGE */


/*logo*/
a.logo {
    font-style: normal;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}



/* navigator */
.navigator {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

}

.navigator:hover {
    color: #2196F3;
}

.current-link {
    color: #2196F3;
}


/* header contact info */
.contact-info {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-info:hover {
    color: #2196F3;
}

.page-head {
    background-color: #2F303A;
}

/* page heading */
h1.page-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* button of Index */
.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

/*BACKGROUND OF THE TITLE*/
.page-head {
    background-color: #2f303a;
}



/* heading with goals */
h3.goals {
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

p.goal-details {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* what we do */

h2.what-we-do {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

/* Our Team */
h2.our-team {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.our-team-background {
    background-color: #f5f4fa;
}


h3.team-member {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

p.job {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}


/* footer */

a.map {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

a.contact-info-footer {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-background {
    background-color: #2f303a;
}




/* PORTFOLIO PAGE */

/*logo*/
a.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}


/* contact on the header */
ul.contact-info {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}


/* buttons of portfolio */
.list-of-buttons {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    background-color: #F5F4FA;
    cursor: pointer;
}

.list-of-buttons:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-current {
    background-color: #2196F3;
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-request:hover {
    background-color: #188CE8;
}

/* Text under images */
h2.headings {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

p.headings-text {
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* footer */
a.map {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

a.contact-info-footer {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

a.contact-info-footer:hover,
a.contact-info-footer:focus {
    color: white;
}