@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

@import 'node_modules/modern-normalize/modern-normalize.css';

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
    box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
    -moz-tab-size: 4;
    tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
    margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
    font-family:
        system-ui,
        -apple-system,
        /* Firefox supports this but not yet `system-ui` */
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
    text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
    /* 1 */
    text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
    box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
    padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}








body {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
}

/* defaults */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* INDEX PAGE */


/*logo*/
a.logo {
    font-style: normal;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}



/* navigator */
.navigator {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

}

.navigator:hover {
    color: #2196F3;
}

.current-link {
    color: #2196F3;
}


/* header contact info */
.contact-info {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-info:hover {
    color: #2196F3;
}

.page-head {
    background-color: #2F303A;

}

/* page heading */
h1.page-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 200px 0px 30px 0px;
}

.title-container {
    padding: 0px 0px 200px 0px;
}

/* button of Index */
.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    margin: auto;

    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    padding: 10px 19px 10px 20px;


}

/*BACKGROUND OF THE TITLE*/
.page-head {
    background-color: #2f303a;
}



/* heading with goals */
h3.goals {
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}


.all-goals {
    display: flex;
    justify-content: center;
    margin: 94px 215px 100px 215px;
}


p.goal-details {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;

}

.all-goals-1 {
    margin-right: 30px;
}

.all-goals-2 {
    margin-right: 30px;
}

.all-goals-3 {
    margin-right: 30px;
}

.goals {
    margin-bottom: 9.41px;
}

/* what we do */

h2.what-we-do {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}


.what-we-do-images {
    display: flex;
    justify-content: center;
    padding: 50px 0px 94px 0px;
}

.what-we-do-images-1 {
    padding: 0px 30px 0px 0px;
}

.what-we-do-images-2 {
    padding: 0px 30px 0px 0px;
}

/* Our Team */
h2.our-team {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    padding: 94px 0px 50px 0px;
}

.our-team-background {
    background-color: #f5f4fa;
}

.our-team-list {
    display: flex;
    justify-content: center;
}

.our-team-list-1 {
    margin-right: 30px;
    margin-bottom: 94px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-list-2 {
    margin-right: 30px;
    margin-bottom: 94px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-list-3 {
    margin-right: 30px;
    margin-bottom: 94px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-list-4 {
    margin-bottom: 94px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

h3.team-member {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

p.job {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}


/* footer */

a.map {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

a.contact-info-footer {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-background {
    background-color: #2f303a;
}




/* PORTFOLIO PAGE */

.page-header {
    display: inline-flex;
    justify-content: space-around;
    border-bottom: 1px solid #ECECEC;
}


/*logo*/
a.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-header-portfolio {
    margin: 24px 0px 25px 215px;
}

.navigator-pages {
    display: inline-flex;
    margin: 32px 340px 32px 93px;
}

.navigator-pages-1 {
    margin: 0px 57px 0px 0px;
}

.navigator-pages-2 {
    margin: 0px 69px 0px 0px;
}


/* contact on the header */
ul.contact-info {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.contact-info-top {
    display: inline-flex;
    margin: 32px 0px 32px 0px;
}

.contact-info-1 {
    margin: 0px 50px 0px 0px;
}



/* buttons of portfolio */
.list-of-buttons {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;

    color: #212121;
    border: none;
    background-color: #F5F4FA;
    cursor: pointer;
    margin: 8px;
    border-radius: 4px;

}

.list-of-buttons:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 94px 0px 0px 0px;
}

/* Padding of the buttons at the top of PORTFOLIO */
.buttons-item-1 {
    padding: 6px 27px 6px 26px;
}

.buttons-item-2 {
    padding: 6px 26px;
}

.buttons-item-3 {
    padding: 6px 53px;
}

.buttons-item-4 {
    padding: 6px 26px 6px 25px;
}

.buttons-item-5 {
    padding: 6px 26px 6px 27px;
}

/* filter of the buttons */

.filter-current {
    background-color: #2196F3;
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-request:hover {
    background-color: #188CE8;
}

/* portoflio list of images and titles with description */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px 94px 0px;
}

.portfolio-list-row-1 {
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 15px;
}

.portfolio-list-row-2 {
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 15px;
}

.portfolio-list-row-3 {
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 15px;
}

.portfolio-list-row-4 {
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 15px;
}

.portfolio-list-row-5 {
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 15px;
}

.portfolio-list-row-6 {
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 15px;
}

.portfolio-list-row-7 {
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 15px;
}

.portfolio-list-row-8 {
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 15px;
}

.portfolio-list-row-9 {
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 15px;
}


/* Text under images */

.portfolio-text-box {
    padding: 20px 24px;
}

h2.headings {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;

    padding: 0px 0px 4px 0px;
}

p.headings-text {
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* footer */
a.map {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

a.contact-info-footer {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

a.contact-info-footer:hover,
a.contact-info-footer:focus {
    color: white;
}

.footer-container {
    padding: 60px 0px 60px 215px;
}

.logo-portfolio-footer {
    padding: 0px 0px 5px 0px;
}

.info-footer-2 {
    padding: 0px 0px 4px 0px;
}


/*--- MODULE 3 HW portion ----*/
.container {}

.top-portion-outer {
    display: inline;
    border: 1px solid #ECECEC;
}

.nav-inner-logo {
    display: inline;
}

.nav-inner {
    display: inline-block;

}

/* The background of the title of index */
.page-head {}

/*ALL IMAGES */

img {
    display: block;
    max-width: 100%;
    height: auto;
}