@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


body {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
}

/* defaults */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* SECTIONS */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* INDEX PAGE */

.container {
    width: 1200px;
}

/*logo*/
a.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

/* navigator */
.navigator {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    display: inline-flex;
}

.navigator .item-1 {
    padding-left: 97px;

}

.navigator .item-2 {
    padding-left: 53px;

}

.navigator .item-3 {
    padding-left: 69px;
}

.navigator li a:hover {
    color: #2196F3;
}

/*contact info at the top */
.contact-info .email {
    padding-left: 340px;
    padding-top: 32px;
}

.contact-info .phone {
    padding-left: 50px;
    padding-top: 32px;
    padding-right: 215px;
}

/* paddings of the header*/

.top-header {
    width: 1600px;
    height: 80px;
    display: flex;
    border-bottom: 1px solid #ECECEC;
    flex-direction: row;

}

.logo-top {
    display: inline-flex;
    padding-top: 24px;
    padding-left: 215px;
    padding-bottom: 25px;

}


/* header contact info */
.contact-info {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    display: inline-flex;
}

.contact-info li a:hover {
    color: #2196F3;
}

/* background of the h1 */
.page-head {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;

}

/* page heading */
h1.page-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin: 0 auto;
    padding: 200px 452px 30px 452px;

}


/* button of Index */
.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    border: none;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px 19px 10px 20px;
}

/*BACKGROUND OF THE TITLE*/
.page-head {
    background-color: #2f303a;
}



/* heading with goals */
h3.goals {
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

p.goal-details {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.all-goals {
    display: inline-flex;
}

/* what we do */

h2.what-we-do-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

.what-we-do-images {
    display: flex;
    justify-content: center;
    margin: auto;
}

.what-we-do-1 {
    padding: 30px;
}

.what-we-do-2 {
    padding: 30px;
}

.what-we-do-3 {
    padding: 30px;
}

/* Our Team */
h2.our-team {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.our-team-background {
    background-color: #f5f4fa;
}


h3.team-member {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

p.job {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}


/* footer */

a.map {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

a.contact-info-footer {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-background {
    background-color: #2f303a;
}




/* PORTFOLIO PAGE */

/*logo*/
a.logo-top {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}


/* navigator */
a.navigator {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.navigator li a:hover {
    color: #2196F3;
}

/* contact on the header */
ul.contact-info {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}


/* buttons of portfolio */
.list-of-buttons {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border: none;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.list-of-buttons:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.cards {
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    width: 370px;
    height: 404px;
}


/* Text under images */
h2.headings {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    width: 322px;
    height: 70px;
}


p.headings-text {
    width: 322px;
    height: 30px;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* footer */
a.map {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

a.contact-info-footer {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}